<!--jumbotron-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sejam bem vindes !!</h1>
    <p class="lead">Obrigada por desejar saber um pouquinho mais sobre como surgiu a Nails Gabi !!</p>
  </div>
</div>

<!--/jumbotron-->

<div class="container">

<div class="card mb-5" style="max-width: 700px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/MakeBasica.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Gabriela Vieira</h5>
          <p class="card-text">Desde nova sempre me atraí pelo bem estar das mulheres e por vê-las sempre lindas, 
              e então comecei a pensar o quanto eu poderia colaborar com a beleza das mulheres, comecei a fazer unhas
              sem cursos, e por fazer tudo por amor e com perfeição todas minhas clientes gostavam, então comecei a me
              especializar e comecei fazer outras especializações, se desejar vê ficarei super gratificada com a sua visita. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--jumbotron Missão Visão e Valores-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Missão Visão e Valores</h1>
    <p>A Nails Gabi não poderia deixar de pensa no que mais prezamos.</p>
  </div>
</div>

<!--/jumbotron Missão Visão e Valores-->

<!--/Cards Missão / Visão e Valores-->

<div class="container mb-5">
<div class="card-deck">
  <div class="card text-white bg-secondary mb-3" style="max-width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Missão</h5>
      <p class="card-text">A Nails Gabi tem como missão trazer o bem estar, a auto-estima e o sorriso de todes que deseja
        passar por esse momento maravilhoso de transformação, feito por mim Gabriela Vieira.</p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Visão</h5>
      <p class="card-text">A Nails Gabi tem como visão que todos nós temos o poder de estar bem com nós mesmo
        e a nossa visão é transparecer.</p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 22rem;">
    <div class="card-body">
      <h5 class="card-title">Valores</h5>
      <p class="card-text">Entendemos que estamos mexendo com a nossa maior riqueza, que é o nosso bem estar, então temos como valores 
        trazer para você cliente da Nails Gabi, o melhor resultado.</p>
    </div>
  </div>
</div>
</div>

<!--/Cards Missão / Visão e Valores-->