<!--jumbotron Alongamentos-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Alongamentos</h1>
      <p class="lead">Você que não consegue deixar sua unha crescer, veja uma forma muito bacana para 
          deixar suas unhas lindas e grandes do jeito que sempre quis deixar, e detanhe com o estilo natural !!
      </p>
    </div>
  </div>

  <!--/jumbotron Alongamentos-->
  
  <!--Cards de Alongamentos-->

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="../../assets/img/Alongamento_1.jpg" class="card-img-top" alt="Alongamento de unhas">
      <div class="card-body">
        <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/Alongamento_2.jpg" class="card-img-top" alt="Alongamento de unhas">
      <div class="card-body">
        <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/Alongamento_3.jpg" class="card-img-top" alt="Alongamento de Unhas">
      <div class="card-body">
        <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
      </div>
    </div>
  </div>
  
  <div class="mt-5 mb-5">
    <div class="card-deck">
        <div class="card">
          <img src="../../assets/img/Alongamento_4.jpg" class="card-img-top" alt="Alongamento de Unhas">
          <div class="card-body">
            <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/Alongamento_5.jpg" class="card-img-top" alt="Alongamento de Unhas">
          <div class="card-body">
            <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/Alongamento_6.jpg" class="card-img-top" alt="Alongamento de Unhas">
          <div class="card-body">
            <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
          </div>
        </div>
      </div>
  </div>
</div>

  <!--/Cards de Alongamentos-->

  <!--jumbotron Esmaltação-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Esmaltação</h1>
      <p class="lead">Deseja fazer aquela realçada nas unhas para onde chegar chamar atenção, então acompanhe os modelos e marque logo seu horário!!</p>
    </div>
  </div>

  <!--/jumbotron Esmaltação-->

    <!--Cards de Esmaltações-->

<div class="container">
    <div class="card-deck">
      <div class="card">
        <img src="../../assets/img/Esmaltação_1.jpg" class="card-img-top" alt="Esmaltação de unhas">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/img/Esmaltação_2.jpg" class="card-img-top" alt="Esmaltação de unhas">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/img/Esmaltação_3.jpg" class="card-img-top" alt="Esmaltação de unhas">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
    </div>
    
    <div class="mt-5 mb-5">
      <div class="card-deck">
          <div class="card">
            <img src="../../assets/img/Esmaltação_4.jpg" class="card-img-top" alt="Esmaltação de unhas">
            <div class="card-body">
              <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/img/Esmaltação_5.jpg" class="card-img-top" alt="Esmaltação de unhas">
            <div class="card-body">
              <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/img/Esmaltação_6.jpg" class="card-img-top" alt="Esmaltação de unhas">
            <div class="card-body">
              <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  
    <!--/Cards de Esmaltações-->
  