<!--jumbotron-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Minhas Certificações.</h1>
      <p class="lead">Obrigado por desejar sabe um pouco de como eu me especializo para cuidar da sua beleza!!!</p>
    </div>
</div>

<!--/jumbotron-->

<!--Cards-->
<div class="container">

    <div class="card mb-3" style="max-width: 10000px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/CertificaçãoDeAlongamentoDeUnha.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Certificação na Nail Art</h5>
          <p class="card-text">Essa foi a minha primeira certificação em alongamento de unhas, para conseguir te trazer
            um maravilhoso resultado!!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 10000px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/CertificaçãoDeAlongamentoDeUnha2.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Certificação na Designer de Unhas</h5>
          <p class="card-text">Essa foi a minha segunda certificação em alongamento de unhas para ficar ainda 
            melhor no que eu já estava mandando muito bem!!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-5" style="max-width: 10000px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/CertificaçãoDeCutiagem.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Certificação em Tecnicas em Cutilagem</h5>
          <p class="card-text">Essa certificação foi para conseguir deixar perfeita a remoção das cuticulas.</p>
        </div>
      </div>
    </div>
  </div>

</div>
  <!--/Cards-->