<!--jumbotron Design de Sombrancelhas-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Design de Sobrancelhas</h1>
      <p class="lead">Aumente a sua alto estima, as sobrancelhas são como um canal de transmissão de mensagens
          elas falam quem você é, então veja só como é importante elas sempre estarem bem feitas e bonitas !!
      </p>
    </div>
  </div>

  <!--/jumbotron Design de Sombrancelhas-->

    <!--Cards de Design de Sombrancelhas-->

<div class="container mb-5">
    <div class="card-deck">
      <div class="card">
        <img src="../../assets/img/Sobrancelha_1.jpg" class="card-img-top" alt="Sobrancelha Desenhada">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/img/Sobrancelha_2.jpg" class="card-img-top" alt="Sobrancelha Desenhada">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/img/Sobrancelha_3.jpg" class="card-img-top" alt="Sobrancelha Desenhada">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
</div>
</div>
  
    <!-- / Cards de Design de Sombrancelhas-->

<!--jumbotron Maquiagens-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Maquiagens</h1>
      <p class="lead">Deseja ir naquele evento mais não sabe se maquear muito bem, achou o lugar certo par ate fazer arrasar em qualquer evento!! 
      </p>
    </div>
  </div>

  <!--/jumbotron Maquiagens-->

  <!--Cards Maquiagens-->

  <div class="container mb-5">
    <div class="card-deck">
      <div class="card">
        <img src="../../assets/img/MakeBasica.jpg" class="card-img-top" alt="Pessoa Maquiada">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/img/ClienteMakeFesta.jpg" class="card-img-top" alt="Pessoa Maquiada">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/img/MakeEvento1_editado.jpg" class="card-img-top" alt="Pessoa Maquiada">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" routerLink='/contato'>Agendar</button>
        </div>
      </div>
    </div>

<!-- / Cards Maquiagens-->