<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../assets/img/brilhos.png" alt="">  
  <a class="navbar-brand" href="#">Nails Gabi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink='/home'>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink='/sobre'>Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/certificacoes'>Certificações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/contato'>Contato</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Trabalhos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink='/alongamento'>Alongamento / Esmaltação</a>
            <a class="dropdown-item" routerLink='/design'>Sobrancelhas / Maquiagens</a>
          </div>
        </li>
      </ul>
    </div>

<!--Network-->
              
                <div class="row">
          
                 <div class="col-md-12 mt-2 d-flex justify-content: flex-end">
          
                   <ul class="social-network">
                     
                     <li>
                       <a href="https://www.instagram.com/_nails.gabi/" target="_blank" class="icoInstagram">
                         <img src="../../assets/img/ico.instagram.png">
                         <i class="fa fa-instagram-square" aria-hidden="true"></i>
                       </a>
                     </li>
          
                     <li>
                       <a href="https://api.whatsapp.com/send?phone=+5511962113799" target="_blank" class="icoWhatsapp">
                         <img src="../../assets/img/ico.whatsapp.png"> 
                         <i class="fab fa-whatsapp-square" aria-hidden="true"></i>
                       </a>
                     </li>
          
                   </ul>

                 </div>
             
             </div>

<!--/Network-->  

</nav>